<li ng-class="colorClass">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="icon-bell-alt icon-animated-bell"></i>
        <span class="badge badge-important">{{notNum}}</span>
    </a>

    <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="icon-warning-sign"></i>
            你有{{notNum}}个通知
        </li>

        <li ng-repeat="item in notificationItems track by $index">
            <a href="#">
                <div class="clearfix">
                    <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-pink icon-comment"></i>
                        {{item.type}}
                    </span>
                    <span class="pull-right badge badge-info">+{{item.num}}</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                See all notifications
                <i class="icon-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>
