<li class="light-blue">
    <a data-toggle="dropdown" class="dropdown-toggle" style="cursor:pointer">
        <img class="nav-user-photo" src="/img/default_user_profile.png" alt="Jason's Photo" />
        <span class="user-info">
            系统用户
            <small>(管理员)</small>
        </span>
        <i class="icon-caret-down"></i>
    </a>

    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
            <a style="cursor:pointer">
                <i class="icon-cog"></i>
                设置
            </a>
        </li>

        <li>
            <a style="cursor:pointer">
                <i class="icon-user"></i>
                用户信息
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a ng-click="logout()" style="cursor:pointer">
                <i class="icon-off"></i>
                注销
            </a>
        </li>
    </ul>
</li>