<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <!-- 命名空间 -->
    <typeAliases>
         <typeAlias alias="User" type="lsr.springmvc.model.User"/> 
         <typeAlias alias="Menu" type="lsr.springmvc.model.Menu"/>
         <typeAlias alias="Role" type="lsr.springmvc.model.Role"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- config params as the following -->
            <property name="param1" value="value1"/>
        </plugin>
    </plugins>

    <!-- 映射map -->
    <mappers>
    </mappers>

</configuration>