<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lsr.springmvc.dao.UserDAO">
           
         <insert id="insertUser" parameterType="User" keyProperty="id">
         insert into user(  
         state,
         nickname) 
         values 
         (        
         #{state},
         #{nickname})
         </insert>

        <select id="getUserList" parameterType="java.util.Map" resultType="User">
            select id,state,nickname
            from USER
            where 1=1
        </select>

        <select id="queryUserDetailById" parameterType="java.util.Map" resultType="User">
            select id,state,nickname
            from USER
            where
            id = #{id}
        </select>

        <update id="updateUserById" parameterType="java.util.Map">
            UPDATE USER
            <trim prefix="SET" suffixOverrides=",">
                <if test="state!=null">
                    STATE = #{state},
                </if>
                <if test="nickname!=null">
                    NICKNAME = #{nickname},
                </if>
            </trim>
            WHERE
                id = #{id}
        </update>

        <delete id="deleteUserById" parameterType="java.util.Map">
            DELETE FROM USER
            WHERE
            id = #{id}
        </delete>
</mapper>